<template>
	<b-container>
		<b-row class="mt-5">
			<b-col>
				<h1 class="text-center mb-5">
					Super Cool Contact page
				</h1>
			</b-col>
		</b-row>
		<b-row>
			<b-col sm="12 mb-5"
				v-html="data.content ? data.content.rendered : ''" />
		</b-row>
		<b-row>
			<b-col class="mb-5">
				<GravityForm form-i-d="2" />
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
export default {
	data() {
		return {
			data: ''
		};
	},
	async asyncData(context) {
		const [page] = await Promise.all([
			context.$axios.$get('/content/pages', {
				params: {
					slug: context.route.name
				}
			})
		]);
		return {
			// gravityForm: gravityFormData,
			data: page[0]
		};
	}
};
</script>

<style>

</style>
