// bootstrap override
@import 'settings/settings';
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.carousel-indicators,
.carousel-caption {
	background: rgba($color: #000, $alpha: 0.7);
}

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
	$u1: unit($min-vw);
	$u2: unit($max-vw);
	$u3: unit($min-font-size);
	$u4: unit($max-font-size);

	@if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
		& {
			font-size: $min-font-size;
			@media screen and (min-width: $min-vw) {
				font-size: calc(
					#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
						((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
				);
			}
			@media screen and (min-width: $max-vw) {
				font-size: $max-font-size;
			}
		}
	}
}

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

h1 {
	font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
	@include fluid-type(
		$min_width,
		$max_width,
		$mod_1 * $mod_1 * $mod_1 * $min_font,
		$mod_2 * $mod_2 * $mod_2 * $min_font
	);
}
h2 {
	font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
	@include fluid-type(
		$min_width,
		$max_width,
		$mod_1 * $mod_1 * $mod_1 * $min_font,
		$mod_2 * $mod_2 * $mod_2 * $min_font
	);
}
h3 {
	font-size: $mod_1 * $mod_1 * 1rem;
	@include fluid-type(
		$min_width,
		$max_width,
		$mod_1 * $mod_1 * $min_font,
		$mod_2 * $mod_2 * $min_font
	);
}


.gravity-form {
	.alert {
		display: inline-block;
		margin-top: 15px;
	}
	.fsForm_validation_container {
		display: none;
	}
}

#rmh-form-response {
	> div {
		@extend .alert;
		@extend .alert-success;
	}
}
