<template>
	<div class="rmh-form">
		<div id="rmh-form-response" />
		<ValidationObserver ref="observer">
			<b-form
				@submit.prevent="validateBeforeSubmit()"
				v-show="showForm"
				class="gravity-form row">
				<div
					v-for="(inputType,index) in formResponse.fields"
					:key="inputType.id"
					:class="inputType.size === 'medium'? 'col-sm-6':'col-sm-12'">
					<!-- text -->
					<template v-if="inputType.type == 'text'">
						<ValidationProvider

							:rules="inputType.isRequired ?'required': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							tag="fieldset">
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id"
								:description="inputType.description">
								<b-form-input
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									:type="inputType.type"
									:placeholder="inputType.placeholder"
									class="form-control"
									v-model="input_values['input_' + inputType.id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- phone -->
					<template v-else-if="inputType.type === 'phone'">
						<ValidationProvider

							:rules="inputType.isRequired ?'required': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							tag="fieldset">
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id"
								:description="inputType.description">
								<b-form-input
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									type="text"
									:placeholder="inputType.placeholder"
									class="form-control"
									v-model="input_values['input_' + inputType.id]"
									v-mask="'(###) ###-####'" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- email -->
					<template v-else-if="inputType.type == 'email'">
						<ValidationProvider
							:rules="inputType.isRequired ?'required|email': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							slim>
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id"
								:description="inputType.description">
								<b-form-input
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									:type="inputType.type"
									:placeholder="inputType.placeholder"
									v-model="input_values['input_' + inputType.id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- text area -->
					<template v-else-if="inputType.type == 'textarea'">
						<ValidationProvider
							:rules="inputType.isRequired ?'required': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							slim>
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id"
								:description="inputType.description">
								<b-form-textarea
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									:type="inputType.type"
									:placeholder="inputType.placeholder"
									rows="6"
									v-model="input_values['input_' + inputType.id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- select -->
					<template v-else-if="inputType.type == 'select'">
						<ValidationProvider
							:rules="inputType.isRequired ?'excluded:invalid,null': ''"
							:name="inputType.label"
							v-slot="{ validate, errors }"
							slim>
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id">
								<b-form-select
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									:value="input_values['input_' + inputType.id] ? input_values['input_' + inputType.id] : 'invalid'"
									@change="onchange($event, index, id = inputType.id) || validate($event)">
									<option
										v-for="item in inputType.choices"
										:key="item.text"
										:value="item.value"
										:selected="item.isSelected">
										{{ item.text }}
									</option>
								</b-form-select>
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- file -->
					<template v-else-if="inputType.type == 'fileupload'">
						<ValidationProvider
							:rules="inputType.isRequired ?'required': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							slim>
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id"
								label-cols-sm="2">
								<b-form-file
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									:type="inputType.type"
									:placeholder="inputType.placeholder"
									v-model="input_values['input_' + inputType.id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- radio -->
					<template v-else-if="inputType.type == 'radio'">
						<ValidationProvider
							:rules="inputType.isRequired ?'required': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							slim>
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:name="'radios-'+inputType.id">
								<b-form-radio
									v-for="(item) in inputType.choices"
									:key="item.text"
									v-model="input_values['input_' + inputType.id]"
									:value="item.value">
									{{ item.text }}
								</b-form-radio>
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- checkbox -->
					<template v-else-if="inputType.type == 'checkbox'">
						<ValidationProvider
							:rules="inputType.isRequired ?'required': ''"
							:name="'checkboxes-'+inputType.id"
							v-slot="{ errors }"
							slim>
							<b-form-group :label="inputType.label">
								<b-form-checkbox-group
									:id="'input-group-'+inputType.id"
									:name="'checkboxes-'+inputType.id">
									<b-form-checkbox
										v-for="item in inputType.choices"
										:key="item.text"
										:value="item.value"
										v-model="input_values['input_' + inputType.id]">
										{{ item.text }}
									</b-form-checkbox>
									<span v-show="errors.length > 0"
										class="alert alert-warning">
										{{ errors[0] }}
									</span>
								</b-form-checkbox-group>
							</b-form-group>
						</ValidationProvider>
					</template>
					<!-- address -->
					<div v-else-if="inputType.type == 'address'"
						class="row">
						<!-- address line 1 -->
						<ValidationProvider :name="inputType.inputs[0].label"
							:rules="inputType.isRequired ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[0].isHidden !== true"
								:label="inputType.inputs[0].label"
								label-for="address-line-1"
								class="col-sm-12">
								<b-form-input
									id="address-line-1"
									v-model="input_values['input_'+inputType.inputs[0].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- address line 2 -->
						<ValidationProvider :name="inputType.inputs[1].label"
							:rules="inputType.isRequired ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[1].isHidden !== true"
								:label="inputType.inputs[1].label"
								label-for="address-line-2"
								class="col-sm-12">
								<b-form-input
									id="address-line-2"
									v-model="input_values['input_'+inputType.inputs[1].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- city-->
						<ValidationProvider :name="inputType.inputs[2].label"
							:rules="inputType.isRequired ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[2].isHidden !== true"
								:label="inputType.inputs[2].label"
								label-for="address-line-3"
								class="col-sm-4">
								<b-form-input
									id="address-line-3"
									v-model="input_values['input_'+inputType.inputs[2].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- state / province / region -->
						<ValidationProvider :name="inputType.inputs[3].label"
							:rules="inputType.isRequired ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[3].isHidden !== true"
								:label="inputType.inputs[3].label"
								label-for="address-line-4"
								class="col-sm-4">
								<b-form-input
									id="address-line-4"
									v-model="input_values['input_'+inputType.inputs[3].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- zip / postal code -->
						<ValidationProvider :name="inputType.inputs[4].label"
							:rules="inputType.isRequired ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[4].isHidden !== true"
								:label="inputType.inputs[4].label"
								label-for="address-line-5"
								class="col-sm-4">
								<b-form-input
									id="address-line-5"
									v-model="input_values['input_'+inputType.inputs[4].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</div>
					<!-- first name / last name -->
					<div v-else-if="inputType.type == 'name'"
						class="row">
						<!-- Prefix -->
						<ValidationProvider :name="inputType.inputs[0].label"
							:rules="inputType.isRequired && inputType.inputs[0].isHidden !== true ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[0].isHidden !== true"
								:label="inputType.inputs[0].label"
								:label-for="'prefix-'+inputType.id"
								class="col">
								<b-form-select
									:id="'prefix-'+inputType.id"
									:name="'input_'+inputType.inputs[0].id"
									:value="input_values['input_'+inputType.inputs[0].id]"
									v-model="input_values['input_'+inputType.inputs[0].id]">
									<option
										v-for="item in inputType.inputs[0].choices"
										:key="item.text"
										:value="item.value"
										:selected="item.isSelected">
										{{ item.text }}
									</option>
								</b-form-select>
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- first -->
						<ValidationProvider :name="inputType.inputs[1].label"
							:rules="inputType.isRequired && inputType.inputs[1].isHidden !== true ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[1].isHidden !== true"
								:label="inputType.inputs[1].label"
								:label-for="'first-name-'+inputType.id"
								class="col">
								<b-form-input
									:id="'first-name-'+inputType.id"
									v-model="input_values['input_'+inputType.inputs[1].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									The First Name field is required
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- middle-->
						<ValidationProvider :name="inputType.inputs[2].label"
							:rules="inputType.isRequired && inputType.inputs[2].isHidden !== true ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[2].isHidden !== true"
								:label="inputType.inputs[2].label"
								:label-for="'middle-name-'+inputType.id"
								class="col">
								<b-form-input
									:id="'middle-name-'+inputType.id"
									v-model="input_values['input_'+inputType.inputs[2].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									The Middle Name field is required
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- last -->
						<ValidationProvider :name="inputType.inputs[3].label"
							:rules="inputType.isRequired && inputType.inputs[3].isHidden !== true ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[3].isHidden !== true"
								:label="inputType.inputs[3].label"
								:label-for="'last-name-'+inputType.id"
								class="col">
								<b-form-input
									:id="'last-name-'+inputType.id"
									v-model="input_values['input_'+inputType.inputs[3].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									The Last Name field is required
								</span>
							</b-form-group>
						</ValidationProvider>
						<!-- suffix -->
						<ValidationProvider :name="inputType.inputs[4].label"
							:rules="inputType.isRequired && inputType.inputs[4].isHidden !== true ?'required': ''"
							v-slot="{ errors }"
							slim>
							<b-form-group
								v-show="inputType.inputs[4].isHidden !== true"
								:label="inputType.inputs[4].label"
								:label-for="'suffix-'+inputType.id"
								class="col">
								<b-form-input
									:id="'suffix-'+inputType.id"
									v-model="input_values['input_'+inputType.inputs[4].id]" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</div>
					<!-- data picker -->
					<template v-if="inputType.type == 'date'">
						<ValidationProvider

							:rules="inputType.isRequired ?'required': ''"
							:name="inputType.label"
							v-slot="{ errors }"
							slim>
							<b-form-group
								:id="'input-group-'+inputType.id"
								:label="inputType.label"
								:label-for="'form-'+formResponse.id+'-'+inputType.id"
								:description="inputType.description">
								<b-form-datepicker
									:id="'form-'+formResponse.id+'-'+inputType.id"
									:name="'input_'+inputType.id"
									:type="inputType.type"
									:placeholder="inputType.placeholder"
									v-model="input_values['input_' + inputType.id]"
									class="mb-2" />
								<span v-show="errors.length > 0"
									class="alert alert-warning">
									{{ errors[0] }}
								</span>
							</b-form-group>
						</ValidationProvider>
					</template>
				</div>
				<!-- honeypot -->
				<b-form-group
					class="gfield fsForm_validation_container field_sublabel_below field_description_below gfield_visibility_visible"
					:id="'input-group-'+formResponse.nextFieldId"
					label="First Name"
					:label-for="'form-'+formResponse.id+'-'+formResponse.nextFieldId"
					description="This field is for validation purposes and should be left unchanged.">
					<b-form-input
						:id="'form-'+formResponse.id+'-'+formResponse.nextFieldId"
						:name="'input_'+formResponse.nextFieldId"
						type="text"
						placeholder="enter copy here"
						v-model="input_values['input_' + formResponse.nextFieldId]" />
				</b-form-group>

				<b-col
					sm="12">
					<b-button type="submit"
						variant="primary"
						class="btn">
						Send
					</b-button>
				</b-col>
			</b-form>
		</ValidationObserver>
	</div>
</template>

<script>
import {
	ValidationProvider,
	ValidationObserver
} from 'vee-validate/dist/vee-validate.full';

export default {
	props: {
		formID: {
			type: String,
			default: ''
		}
	},
	components: {
		ValidationProvider,
		ValidationObserver
	},
	data() {
		return {
			input_values: {
			},
			formResponse: '',
			showForm: true
		};
	},
	mounted() {
		//
		// lets grab the form with our proxy
		const formUrl = `/fs-forms/${this.formID}`;
		this.$axios.$get(formUrl, {
			withCredentials: true
		})
			.then((response) => {
				// add the form fields to formResponse
				this.formResponse = response;
			})
			.catch((error) => {
				// handle error
				console.log(error);
			})
			.finally(() => {
				// always executed
			});
	},
	methods: {
		onchange($event, index, id) {
			// console.log($event);
			this.input_values[`input_${id}`] = $event;
		},
		validateBeforeSubmit() {
			this.$refs.observer.validate().then((results) => {
				if (results) {
					const url = `/fs-forms/${this.formID}/submissions`;
					const formData = new FormData();
					const obj = this.input_values;

					// eslint-disable-next-line no-restricted-syntax
					for (const key in obj) {
						if (Array.isArray(obj[key])) {
							const myArray = obj[key];
							const inputKey = key;

							myArray.forEach((value, i) => {
								const number = i + 1;
								formData.append(
									`${inputKey}.${number}`,
									value
								);
							});
						} else {
							formData.append(key, obj[key]);
						}
					}

					this.$axios.post(url, formData)
						.then((response) => {
							if (response.data.is_valid === true) {
								document.getElementById('rmh-form-response').innerHTML += response.data.confirmation_message;
							}
						})
						.catch((error) => {
							if (error.response) {
								if (error.response.data.is_valid === false) {
									console.log('oh no, we have a problem here');
								}
							}
						});
					// console.log('Form Submitted!');
				}
			});
		}
	},
};
</script>
