<template>
	<b-container class="pt-5 mt-md-5">
		<b-row>
			<!-- intro text -->
			<b-col sm="12"
				class="text-center mb-5">
				<Logo />
				<h1 class="title pt-5 pb-4">
					WordCamp <br>#WordPressOrDieTrying
				</h1>

				<nuxt-link :to="'/contact'"
					class="btn btn-outline-primary"
					exact>
					<span>
						Contact Page
					</span>
				</nuxt-link>
			</b-col>
			<!-- alert -->
			<b-col sm="12 mb-3">
				<b-alert show
					class="text-center d-block text-center">
					<h3>
						WYSIWYG content
					</h3>
				</b-alert>
			</b-col>
			<!-- default copy -->
			<b-col sm="12 mb-5"
				v-html="data.content ? data.content.rendered : ''" />
			<!-- alert -->
			<b-col sm="12 mb-3">
				<b-alert show
					class="text-center d-block text-center">
					<h3>
						ACF CONTENT
					</h3>
				</b-alert>
			</b-col>
			<!-- acf repeater to carousel -->
			<b-col class="mb-5 pb-5">
				<b-carousel
					id="carousel"
					indicators
					controls>
					<b-carousel-slide
						v-for="slide in data.acf.carousel"
						:key="slide.index"
						:caption="slide.image.caption"
						:img-src="slide.image.url" />
				</b-carousel>
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
export default {
	data() {
		return {
			gravityForm: '',
			data: ''
		};
	},
	mounted() {
		this.$axios.$get('/fs-forms/', {
			withCredentials: true
		})
			.then((response) => {
				// handle success
				console.log(response);
				this.gravityForm = response;
			})
			.catch((error) => {
				// handle error
				console.log(error);
			})
			.then(() => {
				// always executed
			});
		this.$axios.$get('/content/pages', {
			params: {
				per_page: 6
			}
		})
			.then((response) => {
				// handle success
				console.log(response);
			})
			.catch((error) => {
				// handle error
				console.log(error);
			})
			.then(() => {
				// always executed
			});
	},
	async asyncData(context) {
		const [page] = await Promise.all([
			// context.$axios.$get('/fs-forms/3', { withCredentials: true, }),
			context.$axios.$get('/content/pages', {
				params: {
					// home page ID
					// basic params example
					include: 12
				}
			})
		]);
		return {
			// gravityForm: gravityFormData,
			data: page[0]
		};
	}
};
</script>
